mixin renderScoreStars(score, size)
  // Multiple of 25 gets 1 star
  +renderExerciseStars(score / 25, size)

mixin renderExerciseStars(numStars, size, maxStars = 4)
  - var stars = numStars > maxStars ? maxStars : numStars
  - var emptyStars = maxStars - stars
  while stars-- > 0
    img(src="/assets/img/star@3x.png" width=size || 30)
  while emptyStars-- > 0
    img(src="/assets/img/star-dist@3x.png" width=size || 30)


mixin renderExerciseRanking (data)
  table.table.table-bordered
    thead
      tr
        th #
        th Nama
        th Sekolah
        th Kelas
        th Waktu
    tbody
      each val, index in data
        tr
          td #{index+1}
          td #{val.fullName}
          td #{val.schoolName}
          td #{val.grade || '-'}
          td #{val.timeFinish} detik

mixin renderTimerProgress (numTimers, size, maxTimers = 4)
  - var timers = numTimers > 4 ? 4 : numTimers
  - var emptyTimers = maxTimers - timers
  while timers-- > 0
    img(src="/assets/img/timer@3x.png" width=size || 30)
  while emptyTimers-- > 0
    img(src="/assets/img/timer-dist@3x.png" width=size || 30)

mixin renderVideoWatchStatus (isWatched, size)
  if (isWatched)
    img(src="/assets/img/video_watched.png" width=size || 30)
  else
    img(src="/assets/img/video_unwatched.png" width=size || 30)

mixin renderTopicExerciseCheckmark (isChecked, size)
  if (isChecked)
    img(src="/assets/img/ic-checked@3x.png" width=size || 30)
  else
    img(src="/assets/img/ic-checked-dist@3x.png" width=size || 30)

mixin renderTopicExerciseStars(numStars, size)
  if numStars > 0
    img(src="/assets/img/star.png" width=size || 25)
  else
    img(src="/assets/img/star_grey.png" width=size || 25)
  if (numStars - 1 > 0)
    span(style="font-size: 65%") +#{numStars -1}