mixin renderExerciseStars(numStars, size)
  - var stars = numStars
  - var emptyStars = 4 - stars
  while stars-- > 0
    span 
      img(src="/assets/img/star.png" width=size || 30)
  while emptyStars-- > 0
    span 
      img(src="/assets/img/star_empty.png" width=size || 30)

mixin renderRankingExercise (data)
  table.table.table-bordered
    thead
      tr
        th Ranking
        th Nama
        th Sekolah
        th Kelas
        th Waktu Selesai
    tbody
      each val, index in data
        tr
          td #{index+1}
          td #{val.fullName}
          td #{val.schoolName}
          td #{val.grade}
          td #{val.timeFinish} detik
