extends ../../../../../sites/root/cms/view/v1/layout.pug

include includes/sidebar.pug

append links
  link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css")
  link(rel="stylesheet" type="text/css" href=rootifyPath('css/style.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('css/nprogress.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('css/toastr.min.css'))

block content
  #accountEditor

append scripts
  script.
    var rootPath = "#{rootifyPath('')}"
  script(type="text/javascript" src=rootifyPath(`${bundle}`))
