extends ../../../../../dist/sites/root/cms/view/v1/layout.pug

include includes/sidebar.pug

append links
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/vendor/data-table/css/datatables.min.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/css/style.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/css/nprogress.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/css/toastr.min.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/vendor/select2/select2.min.css'))

block content
  #accountEditor

append scripts
  script.
    var rootPath = "#{rootifyPath('')}"
  script(type="text/javascript" src=rootifyPath('/assets/js/account-management-cms-bundle.js'))
