extends ../../../../../sites/root/cms/view/v1/layout.pug

include includes/sidebar.pug

append links
  link(href="/assets/vendor/summernote/summernote.css" rel="stylesheet")
  link(href=rootifyPath('/assets/vendor/codemirror/lib/codemirror.css') rel="stylesheet")
  link(href=rootifyPath('/assets/css/style.css') rel="stylesheet")
  link(href=rootifyPath('assets/css/codemirror-theme/material.css') rel="stylesheet")
  link(href=rootifyPath('assets/vendor/video.js/dist/video-js.min.css') rel="stylesheet")
  link(href=rootifyPath('assets/css/toastr.min.css') rel="stylesheet" type="text/css")

block content
    h1 #{topic.topic} - #{subtopic.subtopic}
    form(section="subtopic-detail")
      div.form-group
        ul.nav.nav-tabs(role='tablist')
          li(role="presentation" class="active")
            a(href="#youtube-video" aria-controls="youtube-video" role="tab" data-toggle="tab") Youtube
          li(role="presentation")
            a(href="#local-video" aria-controls="local-video" role="tab" data-toggle="tab") Local
        div.tab-content
          div(role="tabpanel" class="tab-pane active" id="youtube-video")
            div.form-group
              label(for='link')
                | Youtube Video #[span.required-content *] :
              input#ytInput.form-control.subtopicInput(type='text' placeholder='https://www.youtube.com/watch?v=GBu2jofRJtk' name='subtopicData[youtube_url]' required value=subtopicData.youtube_url)
              div#ytPlayerContainer
                //- iframe#ytPlayer(style='display: none' type='text/html' src='' frameborder='0')
                //- span#ytError.required-content(style='display: none') Invalid Youtube URL
          div(role="tabpanel" class="tab-pane" id="local-video")
            div.form-group
              label(for='link')
                | Offline Video #[span.required-content *] :
              //- input(type='button' id='get_file' value='Grab File')
              div#videoFilename
              div#videoProgress
              div#videoProgressBar
              input(type='file' id='videoUpload' name='video' accept='.mp4')
              div#localPlayerContainer

      div.form-group
        label(for='description') 
          | Description #[span.required-content *] :
        textarea#subtopicDescription.form-control(rows="10" name='subtopicData[detail]' required)= subtopicData.detail

      div.form-group
        button.btn.btn-primary#imagePicker(type="button") Upload Button

      div(section="exercise-section" style="border-bottom:1px solid black; margin-bottom:15px;")
        h2 Excercise
        div#exerciseContainer
          each exercise, index in exercises
            div.form-group
              label(for="code") Exercise Code:
              textarea.form-control(id=`exercise-${index}` rows="10" name=`exercise-${exercise.id}` required) #{exercise.data}
              div.resultCode
              div.text-right
                a.btn.btn-danger.deleteExercise(data-exercise-id=`${exercise.id}`) Delete
                | 
                button.btn.btn-primary.btnGenerate Generate
        div.text-right(style="margin-bottom:10px;")
          a.btn.btn-success.addNewExercise Add Exercise
      div.text-center
        button.btn.btn-primary(id="btnSave" ic-post-to=rootifyPath(`subtopic/${subtopic.id}/submit`) ic-on-error='status' ic-target='#dummy' ic-indicator='#indicator') Save Change
        i#indicator.fa.fa-spinner.fa-spin(style="display:none")

append scripts
  script.
    var rootPath = "#{rootifyPath('')}"

  script(src=rootifyPath('assets/js/subtopic-cms-bundle.js'))
