extends ../layout/index.pug
include ../includes/utils.pug

append head
  link(rel="stylesheet" href="/assets/css/topics-style.css")
  style.
    .btn {
      margin: 1%;
    }

    #notes {
      font-size: 120%;
      background-color: #ffc800;
      padding: 1%;
    }

append initialization
  - const activePage = 'modules'

block contents
  div.container
    if user
      p= 'Selamat Datang, ' + user.fullName || user.username
    .row.jumbotron.text-center
      .row
        .col-md-12
          p#notes.
            #[strong Catatan:]
            <br>
            Uji kompetensi terdiri dari beberapa modul dengan topik matematika berbeda.
            Yang menjadi faktor penilaian adalah skor dan waktu penyelesaian. Oleh karena itu,
            pastikan tidak ada gangguan selama mengerjakan. Bila ingin beristirahat, lakukan sebelum menekan tombol "Mulai".
        .col-md-12
          img(src="/assets/img/big-timer.png")
        .col-md-12
          p.
            #[h1 Modul: #{topicName}]
            <br>
            Modul ke #{topicNo} dari #{topicQuantity}
            <br>
            Jumlah soal: #{questionQuantity}
            <br>
            Estimasi Waktu Pengerjaan: #{idealTime} detik.
        .col-md-12
          button.btn.btn-primary#btn-start-exercise Mulai
          button.btn#btn-abandon-exercise Batalkan

append scripts
  script(src=`${bundle}`)
