extends ../layout/index.pug
include ../includes/utils.pug

append head
  link(rel="stylesheet" href="/assets/css/competency-exercise.css")
  link(rel="stylesheet" href="/assets/vendor/toastr/toastr.css")

block contents
  div.container.text-center
    #close-container
      a#btn-abandon-exercise
        img(src='/assets/img/ic-close.png' srcset='/assets/img/ic-close@2x.png 2x, /assets/img/ic-close@3x.png 3x')
    .row
      .col-md-12
        img(src='/assets/img/competency-module.png' srcset='/assets/img/competency-module@2x.png 2x, /assets/img/competency-module@3x.png 3x')
    .row
      .col-md-12
        h1 #{topicName}
    .row
      .col-md-12
        p Modul: #{topicNo} / #{topicQuantity}
        p Waktu Pengerjaan: #{(idealTime / 60).toFixed()} menit
    .row
      .col-md-12
        br
        p
          | Uji kompetensi terdiri dari beberapa modul dengan topik berbeda.
          | Faktor penilaian berdasarkan #[strong skor] dan #[strong waktu].
    .row
      .col-md-12
        br
        button.rounded-button#btn-start-topic Mulai
        br
        br
        a#btn-skip-topic Lewati

append scripts
  script(src=`${bundle}`)
