extends ../layout/index.pug
include ../includes/utils.pug

append head
  link(rel="stylesheet" href="/assets/css/competency-exercise.css")
  link(rel="stylesheet" href="/assets/vendor/toastr/toastr.css")

block contents
  .container.text-center
    .col-md-6
      .row
        .col-md-12
          img#heading-image(src='/assets/img/competency-report.png' srcset='/assets/img/competency-report@2x.png 2x, /assets/img/competency-report@3x.png 3x')
      .row
        .col-md-12
          h1 Report
      .row
        .col-md-12
          p Nilai merah mengindikasikan bahwa kemampuan anak masih perlu ditingkatkan. Kontak tutor Filosedu untuk bantuan pelajaran.
    .col-md-6
      for topicResult, idx in topicResults
        .row
          if topicResult.skipped
            h2
              | #{idx + 1}. #{topicResult.topicName}
              img(src="/assets/img/ic-warning.svg")
            span.red-text Topik ini dilewati

          else
            - const scoreRedFlag = topicResult.score < 80
            - const timeScoreRedFlag = topicResult.timeScore < 75
            - const redFlag = scoreRedFlag || timeScoreRedFlag
            h2
              | #{idx + 1}. #{topicResult.topicName}
              if (redFlag)
                img(src="/assets/img/ic-warning.svg")
            span
              | Nilai: #{' '}
              span(class=`${scoreRedFlag && 'red-text'}`) #{topicResult.score} / 100
            br
            if (topicResult.score >= 75)
              span Ketangkasan: #{' '}
              span(class=`${timeScoreRedFlag && 'red-text'}`) #{topicResult.timeScore} / 100
            else
              span Ketangkasan: -
            br
            span Waktu Kerja: #{topicResult.timeFinish} / #{topicResult.idealTime}
      .row
        br
        p
          span Hubungi kami:
          br
          strong #[a(href="https://wa.me/+62852-1123-6603") 0852-1123-6603]
      .row
       .col-md-12
         button.rounded-button#btn-retake-exercise Ulangi

append scripts
  script(src=`${bundle}`)
