extends layout/index.pug

append head
  link(rel="stylesheet" href="/assets/css/exercise-style.css")

block contents
    #leaderboard.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4#exampleModalLabel.modal-title.text-center Ranking
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
          .modal-body#leaderboard-content
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

    div.container
      .row
        include includes/exercise-timer
      h1.text-center Latihan Soal
      h4.text-center #{subtopic.topic.topic} - #{subtopic.subtopic}
      h4.text-center
        a.backToVideoBtn(onclick='return false;' data-exercise-id=`${exerciseId}` data-href=`/${subtopic.topic.id}/${getSlug(subtopic.topic.topic)}/${subtopic.id}/${getSlug(subtopic.subtopic)}`) Kembali ke Video
      h4.text-center
        button.btn.btn-primary#leaderboard-button(type='button', data-toggle='modal', data-target='#leaderboard') Lihat Ranking
      hr(style="height: 1px")
      input#exerciseId(type="hidden" name="exerciseId" value=`${exerciseId}`)

      div.text-center#questionSubmit
        each question, index in formattedExercise.renderedQuestions
          form.QuestionSection(method="POST" onkeypress="return event.keyCode != 13;")
            .row.rendered-question(style="max-width: 720px; margin:auto")
              | !{question}
            each unknown in formattedExercise.unknowns[index]
              .row.form-group(style="width: 40%; margin:auto")
                .col-md-2
                  label.control-label(style="font-size: 150%") #{unknown}
                .col-md-10
                  input.form-control.answerInput(name=`${unknown}` value="" autocomplete="off")
            div(class=`resultAnswer_${index}`)
            .row
              hr(style="height: 1px")
      div.text-center(style="margin-bottom:5%;")
        div.scoreSection
          p.hidden(id='currentScore')
          p.hidden(id='submissionError')
          p.bestScore
            | !{starsHTML}
          p.bestTimer
            | !{timersHTML}
        div.rankingScore
          | !{ranking}
        span
          a.btn.btn-primary#prevButton(style=`${prevLink ? '' : 'display: none'}` href=`${prevLink || ''}`) <
          button.btn.btn-primary.btn_submit_answer() Masukan Jawaban
          a.btn.btn-primary.btn_retry_question.hidden(href="") Latihan Lagi
          a.btn.btn-primary#nextButton(style=`${nextLink ? '' : 'display: none;'}` href=`${nextLink || ''}`) >

append scripts
  script().
    window['elapsedTime'] = !{elapsedTime}
    window['idealTime'] = !{idealTime}
  script(src=('/assets/vendor/form-serializer/dist/jquery.serialize-object.min.js'))
  script(src="/assets/vendor/jquery-timer/timer.jquery.js")
  script(src=`${bundle}`)