extends layout/base-with-subbar.pug

append head
  link(rel="stylesheet" href="/assets/css/subtopic-exercise.css")

prepend contents
  #leaderboard.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4#exampleModalLabel.modal-title.text-center Ranking
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
          .modal-body#leaderboard-content
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

block minibarLeftMenu
  a.link-back(href=`..` data-toggle='modal')
    div#minibar-left-menu
      i.fa.fa-times

block minibarMidMenu
  //h1 Review #{topicName}
  h1
    span.desktop-only
      | Matematika
      i.bread.fa.fa-chevron-right
      |  #{subtopic.topic.topic}
      i.bread.fa.fa-chevron-right
    span=  subtopic.subtopic
    span.mobile-only#sub-heading
      .exercise-timer
        img(src='/assets/img/chronometer@3x.png' alt='')
        span#elapsed-time 0:00
        span #{" / "}
        span#target-time 0:00
        span #{"  "}
        span
          button#btn-reset Ulang

block pageContent
  a.white-text(href='#start')
  .container.text-center
    .title
      button.btn.btn-primary#leaderboard-button(type='button', data-toggle='modal', data-target='#leaderboard') Lihat Ranking
    .exercise-container
      div.text-center#questions-container
        // each formattedExercise in formattedExercises
        each question, index in formattedExercise.renderedQuestions
            //- if ((formattedExercise.renderedQuestions).length > 0)
            //each renderedQuestion, index in formattedExercise.renderedQuestions
            form(name='question')
              .row.rendered-question
                .exercise-position
                  span #{index + 1} / #{formattedExercise.renderedQuestions.length}
                .exercise-content
                  | !{question}
                for unknown in formattedExercise.unknowns[index]
                  .user-answer
                    span.variable #{unknown} =
                    input.answer-input(name=`${unknown}` placeholder='{ketik disini}')
                    div(class=`resultAnswer_${index}`)
                    .virtual-keyboard
                    // include includes/numpad
      div.text-center(style="margin-bottom:5%;")
        div.scoreSection
          h3.hidden#current-score
          p.hidden(id='error-message')
          div#badges-container
            p#remarks
            p#star-badges
              | !{starsHTML}
            p#time-badges
              | !{timersHTML}
        span
          button.smallest-rounded-button(onclick=`location.href='${prevLink || ''}'` type="button")
            img(src="/assets/img/arrow-pointing-to-left.png" srcset="/assets/img/arrow-pointing-to-left@2x.png 2x, /assets/img/arrow-pointing-to-left@3x.png 3x" class="arrow-pointing-to-left")
          button.smaller-rounded-button#btn-submit-answer Submit #{" "}
          button.hidden.smaller-rounded-button#btn-retry Ulangi
          button.smallest-rounded-button(onclick=`location.href='${nextLink || ''}'` type="button")
            img(src="/assets/img/arrow-pointing-to-right.png" srcset="/assets/img/arrow-pointing-to-right@2x.png 2x, /assets/img/arrow-pointing-to-right@3x.png 3x" class="arrow-pointing-to-right")
        br
        br
        #submission-leaderboard

append scripts
  script().
    window['elapsedTime'] = !{elapsedTime}
    window['idealTime'] = !{idealTime}
  script(src=('/assets/vendor/form-serializer/dist/jquery.serialize-object.min.js'))
  script(src="/assets/vendor/jquery-timer/timer.jquery.js")
  script(src=`${bundle}`)
