extends layout/base-with-subbar.pug

append head
  link(rel="stylesheet" href="/assets/css/subtopic-exercise.css")

block minibarLeftMenu
  a.link-back(href=`..` data-toggle='modal')
    div#minibar-left-menu
      i.fa.fa-times

block minibarMidMenu
  //h1 Review #{topicName}
  h1
    span.desktop-only
      | Matematika
      i.bread.fa.fa-chevron-right
      |  #{subtopic.topic.topic}
      i.bread.fa.fa-chevron-right
    span=  subtopic.subtopic
    span.mobile-only#sub-heading
      .exercise-timer
        img(src='/assets/img/chronometer@3x.png' alt='')
        span#elapsed-time 0:00
        span #{" / "}
        span#target-time 0:00
        span #{"  "}
        span
          button#btn-reset Ulang

block pageContent
  .container.text-center
    .title
      button.btn.btn-primary#leaderboard-button(type='button', data-toggle='modal', data-target='#leaderboard') Lihat Ranking
    .exercise-container
      div.text-center#questions-container
        // each formattedExercise in formattedExercises
        each question, index in formattedExercise.renderedQuestions
            //- if ((formattedExercise.renderedQuestions).length > 0)
            //each renderedQuestion, index in formattedExercise.renderedQuestions
            form(name='question')
              .row.rendered-question
                .exercise-position
                  span #{index + 1} / #{formattedExercise.renderedQuestions.length}
                .exercise-content
                  | !{question}
                for unknown in formattedExercise.unknowns[index]
                  .user-answer
                    span.variable #{unknown} =
                    input.answer-input(name=`${unknown}` placeholder='{ketik disini}')
                    div(class=`resultAnswer_${index}`)
                    .virtual-keyboard
                    // include includes/numpad
      div.text-center(style="margin-bottom:5%;")
        div.scoreSection
          p.hidden(id='currentScore')
          p.hidden(id='submissionError')
        // a.btn.btn-primary.btn-submit-answer(href="javascript:void(0);") Submit
        button.rounded-button#btn-submit-answer
          | Submit #{" "}
          img(src="/assets/img/arrow-pointing-to-right.png" srcset="/assets/img/arrow-pointing-to-right@2x.png 2x, /assets/img/arrow-pointing-to-right@3x.png 3x" class="arrow-pointing-to-right")
        // a.hidden.btn.rounded-button#btn-retry(href="")
        button.hidden.rounded-button#btn-retry
          | Ulangi
        // a.btn.btn-primary.btn_retry_question.hidden(href="") Retry

append scripts
  script().
    window['elapsedTime'] = !{elapsedTime}
    window['idealTime'] = !{idealTime}
  script(src=('/assets/vendor/form-serializer/dist/jquery.serialize-object.min.js'))
  script(src="/assets/vendor/jquery-timer/timer.jquery.js")
  script(src=`${bundle}`)
