extends layout/base-with-subbar.pug

append head
  link(rel='stylesheet' href='/assets/css/subtopics.css')

block minibarLeftMenu
  a.link-back(href='/')
    svg.svg-inline--fa.fa-chevron-left.fa-w-10(aria-hidden='true' data-prefix='fa' data-icon='chevron-left' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 320 512' data-fa-i2svg='')
      path(fill='currentColor' d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z')

block minibarMidMenu
  h1
    | Matematika
    svg.svg-inline--fa.fa-chevron-right.fa-w-10.bread(aria-hidden='true' data-prefix='fa' data-icon='chevron-right' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 320 512' data-fa-i2svg='')
      path(fill='currentColor' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z')
    // <i class="bread fa fa-chevron-right" aria-hidden="true"></i>
    | #{topic.topic}

block pageContent
  .container
    .row
      for subtopic in subtopics
        - let starsCount = parseInt(subtopic.starBadges)
        - let timersCount = parseInt(subtopic.timeBadges)
        .col-md-6.col-lg-6
          .card-blok.subtopic(class=`${subtopic.complete ? 'complete' : 'incomplete'}`)
            .card-blok-inner
              .justify-between
                a(href=`${topic.id}/${getSlug(topic.topicName)}`)
                  h1= subtopic.subtopicName
              p.value-topik #{subtopic.exerciseCount} Latihan
              .progress-bintang
                span.rating
                  - let emptyStarsCount = 4 - starsCount
                  while starsCount-- > 0
                    img(src='/assets/img/star@3x.png' alt='bintang')
                  while emptyStarsCount-- > 0
                    img(src='/assets/img/star-dist@3x.png' alt='bintang')
                span.timing

                  - let emptyTimersCount = 4 - timersCount
                  while timersCount-- > 0
                    img(src='/assets/img/timer@3x.png' alt='bintang')
                  while emptyTimersCount-- >0
                    img(src='/assets/img/timer-dist@3x.png' alt='bintang')
    //.row
      .col-md-6.col-lg-6
        .card-blok
          .card-blok-inner
            .justify-between
              h1 Penjumlahan
              .badge-checkmark
                label
                  img(src='assets/img/ic-checked@3x.png' alt='')
                ul
                  li
                    img(src='assets/img/star@3x.png' alt='')
                  li
                    img(src='assets/img/timer@3x.png' alt='')
            p.value-topik 12 Topik
            .progress-bintang
              span.rating
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
              span.timing
                img(src='/assets/img/timer@3x.png' alt='bintang')
                img(src='/assets/img/timer@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
          a.card-block-footer(href='#')
            | Ulangi Review
            i.fa.fa-undo
      .col-md-6.col-lg-6
        .card-blok
          .card-blok-inner
            .justify-between
              h1 Perkalian
              .badge-checkmark
                label
                  img(src='assets/img/ic-checked-dist@3x.png' alt='')
                ul
                  li
                    img(src='assets/img/star@3x.png' alt='')
                  li
                    img(src='assets/img/timer-dis@3x.png' alt='')
            p.value-topik 20 Topik
            .progress-bintang
              span.rating
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
              span.timing
                img(src='/assets/img/timer@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
          a.card-block-footer(href='#') Review
      .col-md-6.col-lg-6
        .card-blok
          .card-blok-inner
            .justify-between
              h1 Penjumlahan
              .badge-checkmark
                label
                  img(src='assets/img/ic-checked-dist@3x.png' alt='')
                ul
                  li
                    img(src='assets/img/star-dis@3x.png' alt='')
                  li
                    img(src='assets/img/timer-dis@3x.png' alt='')
            p.value-topik 15 Topik
            .progress-bintang
              span.rating
                img(src='/assets/img/star@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
              span.timing
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
          a.card-block-footer(href='#') Review
      .col-md-6.col-lg-6
        .card-blok
          .card-blok-inner
            .justify-between
              h1 Penjumlahan
              .badge-checkmark
                label
                  img(src='assets/img/ic-checked-dist@3x.png' alt='')
                ul
                  li
                    img(src='assets/img/star-dis@3x.png' alt='')
                  li
                    img(src='assets/img/timer-dis@3x.png' alt='')
            p.value-topik 12 Topik
            .progress-bintang
              span.rating
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
              span.timing
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
          a.card-block-footer(href='#') Review
      .col-md-6.col-lg-6
        .card-blok
          .card-blok-inner
            .justify-between
              h1 Bilangan Bulat
              .badge-checkmark
                label
                  img(src='assets/img/ic-checked-dist@3x.png' alt='')
                ul
                  li
                    img(src='assets/img/star-dis@3x.png' alt='')
                  li
                    img(src='assets/img/timer-dis@3x.png' alt='')
            p.value-topik 15 Topik
            .progress-bintang
              span.rating
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
              span.timing
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
          a.card-block-footer(href='#') Review
      .col-md-6.col-lg-6
        .card-blok
          .card-blok-inner
            .justify-between
              h1 Pecahan
              .badge-checkmark
                label
                  img(src='assets/img/ic-checked-dist@3x.png' alt='')
                ul
                  li
                    img(src='assets/img/star-dis@3x.png' alt='')
                  li
                    img(src='assets/img/timer-dis@3x.png' alt='')
            p.value-topik 12 Topik
            .progress-bintang
              span.rating
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
                img(src='/assets/img/star-dis@3x.png' alt='bintang')
              span.timing
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
                img(src='/assets/img/timer-dis@3x.png' alt='bintang')
          a.card-block-footer(href='#') Review