extends layout/base-with-subbar.pug

append head
  link(rel='stylesheet' href='/assets/css/base.css')
  link(rel="stylesheet" href="/assets/css/competency-exercise.css")

  style.
    body {
      background-image: linear-gradient(to top, #008f7a 0%, #0089ba 20%, #008f7a 100%);
    }

block minibarLeftMenu
  a.link-back(href='/' data-toggle='modal')
    i.fa.fa-times

block minibarMidMenu
  //h1 Review #{topicName}
  h1
    span.desktop-only
      | Matematika
      i.bread.fa.fa-chevron-right
      |  Penjumlahan
      i.bread.fa.fa-chevron-right
    span  Review Penjumlahan
    span.mobile-only#sub-heading
      // Target Waktu: 30 Menit
      .exercise-timer
        img(src='/assets/img/chronometer@3x.png' alt='')
        span#elapsedTime 30:00
        span /
        span#targetTime  #{idealTime}

block pageContent
  .container.text-center
    #header
      #timer
        if idealTime > 0
          //span#targetTime(style="{color: black !important}") Goal: #[strong #{idealTime} detik]
          img(src="/assets/img/chronometer.png" srcset="/assets/img/chronometer@2x.png 2x, /assets/img/chronometer@3x.png 3x" class="chronometer")
          span#elapsedTime.black-text
    #exercise
      div.text-center#questionSubmit
        - let exerciseIndex = 0
        - let numExercises = formattedExercises.reduce((acc, formattedExercise) => acc + formattedExercise.renderedQuestions.length, 0)
        each formattedExercise in formattedExercises
            //- if ((formattedExercise.renderedQuestions).length > 0)
            each renderedQuestion, index in formattedExercise.renderedQuestions
              form(name='question')
                .row.rendered-question
                  .exercise-position
                    span #{exerciseIndex + 1} / #{numExercises}
                  .exercise-content !{renderedQuestion}
                  for unknown in formattedExercise.unknowns[index]
                    .user-answer
                      span.variable #{unknown} =
                      input.answerInput(name=`${unknown}` placeholder='{ketik disini}')
                div(class=`resultAnswer_${exerciseIndex}`)
                - exerciseIndex++
      div.text-center(style="margin-bottom:5%;")
        div.scoreSection
          p.hidden(id='currentScore')
          p.hidden(id='submissionError')
        // a.btn.btn-primary.btn-submit-answer(href="javascript:void(0);") Submit
        button.rounded-button.btn-submit-answer
          | Submit #{" "}
          img(src="/assets/img/arrow-pointing-to-right.png" srcset="/assets/img/arrow-pointing-to-right@2x.png 2x, /assets/img/arrow-pointing-to-right@3x.png 3x" class="arrow-pointing-to-right")

append scripts
  script().
    window['elapsedTime'] = !{elapsedTime}
    window['idealTime'] = !{idealTime}
  script(src=('/assets/vendor/form-serializer/dist/jquery.serialize-object.min.js'))
  script(src="/assets/vendor/jquery-timer/timer.jquery.js")
  script(src=`${bundle}`)
