extends /layout.pug

append links
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/vendor/data-table/css/datatables.min.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/vendor/data-table/css/dataTables.responsive.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/vendor/nc-input-library/style.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/css/style.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/css/nprogress.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/css/toastr.min.css'))

block content
  #schoolEditor

append scripts
  script.
    var rootPath = "#{rootifyPath('')}"
  script(type="text/javascript" src=rootifyPath('/assets/js/school-management-cms-bundle.js'))
