extends /layout.pug

append links
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/vendor/data-table/css/datatables.min.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/vendor/data-table/css/dataTables.responsive.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/vendor/nc-input-library/style.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/css/style.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/css/nprogress.css'))
  link(rel="stylesheet" type="text/css" href=rootifyPath('assets/css/toastr.min.css'))

block content
  #local-to-cloud-sync
  #cloud-to-local-sync
    panel.panel-default
      .panel-heading
        h3.panel-title Cloud-to-Local Sync
      .panel-body
        .row
          .col-md-12
            button#btn-cloud-to-local-sync Sync
            textarea#console(style="width: 100%; min-height: 500px" value="haha" disabled)

append scripts
  script.
    var rootPath = "#{rootifyPath('')}"
  script(type="text/javascript" src=rootifyPath('/assets/js/sync-management-cms-bundle.js'))
