extends layout/index.pug

block contents
    div.container
      h1.text-center Latihan Soal
      h3.text-center 
        a(href=`/${topic.id}/${getSlug(topic.topic)}/${subtopic.id}/${getSlug(subtopic.subtopic)}`) #{topic.topic} - #{subtopic.subtopic}
      hr
      input(type="hidden" name="exerciseId" value=`${exerciseId}`)
      input(type="hidden" name="generatedExerciseId" value=`${generateExerciseId}`)

      div#questionSubmit
        each question, index in allQuestion.questions
          form.QuestionSection(method="POST")
            div.form-group
              | !{marked(question)}
              each unknown, index2 in allQuestion.unknowns
                label
                  | #{unknown} =
                // Only allow numbers as input
                input.form-control(name=`${unknown}` type="text" value=`${allQuestion.userAnswers && allQuestion.userAnswers[index] || ''}` onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="display:inline-block; width:10%;")
              div(class=`resultAnswer_${index}`)
              hr
      div.text-center(style="margin-top:50px;margin-bottom:50px;")
        div.scoreSection.hidden
          p(class='currentScore')
          p(class='bestScore')
        a.btn.btn-primary.btn_submit_answer(href="javascript:void(0);") SUBMIT ANSWER
        a.btn.btn-primary.btn_retry_question.hidden(href="") RETRY

block scripts
  script(src=('/assets/vendor/form-serializer/dist/jquery.serialize-object.min.js'))
  script(src=('/assets/js/subtopic-app-bundle.js'))