extends layout/index.pug

block contents
    div.container
      h1.text-center Latihan Soal
      h3.text-center #{topic.topic} - #{subtopic.subtopic}
      h4.text-center 
        a.backToVideoBtn(onclick='return false;' data-exercise-id=`${exerciseId}` data-href=`/${topic.id}/${getSlug(topic.topic)}/${subtopic.id}/${getSlug(subtopic.subtopic)}`) Back to Video
      hr
      input#exerciseId(type="hidden" name="exerciseId" value=`${exerciseId}`)
      input(type="hidden" name="generatedExerciseId" value=`${generateExerciseId}`)

      div.text-center#questionSubmit
        each question, index in allQuestion.questions
          form.QuestionSection(method="POST")
            .row
              | !{marked(question)}
            .row
              br
            each unknown, index2 in allQuestion.unknowns
              .row.form-group(style="width: 40%; margin:auto")
                .col-md-2
                  label.control-label(style="font-size: 150%") #{unknown}
                .col-md-10
                  input.form-control.answerInput(name=`${unknown}` type="number" value=`${allQuestion.userAnswers && allQuestion.userAnswers[index] || ''}`)
            div(class=`resultAnswer_${index}`)
            .row
              hr
      div.text-center(style="margin-bottom:5%;")
        div.scoreSection
          p.hidden(class='currentScore')
          p(class='bestScore')
            | !{starsHTML}
        a.btn.btn-primary.btn_submit_answer(href="javascript:void(0);") Submit
        a.btn.btn-primary.btn_retry_question.hidden(href="") Retry

append scripts
  script(src=('/assets/vendor/form-serializer/dist/jquery.serialize-object.min.js'))
  script(src=('/assets/js/exercise-app-bundle.js'))