extends layout/index.pug

block contents
    div.container
      h1.text-center Latihan Soal
      h3.text-center #{topic.topic} - #{subtopic.subtopic}
      h4.text-center 
        a(href=`/${topic.id}/${getSlug(topic.topic)}/${subtopic.id}/${getSlug(subtopic.subtopic)}`) Back to Sub-Module
      hr
      input(type="hidden" name="exerciseId" value=`${exerciseId}`)
      input(type="hidden" name="generatedExerciseId" value=`${generateExerciseId}`)

      div.text-center#questionSubmit
        each question, index in allQuestion.questions
          form.QuestionSection(method="POST")
            .row
              | !{marked(question)}
            .row
              br
            .row.form-group(style="width: 40%; margin:auto")
              each unknown, index2 in allQuestion.unknowns
                label.col-sm-2.control-label(style="font-size: 150%") #{unknown}
                .col-sm-10
                  input.form-control(name=`${unknown}` type="number" value=`${allQuestion.userAnswers && allQuestion.userAnswers[index] || ''}`)
              div(class=`resultAnswer_${index}`)
            .row
              hr
      div.text-center(style="margin-top:5%;margin-bottom:5%;")
        div.scoreSection.hidden
          p(class='currentScore')
          p(class='bestScore')
        a.btn.btn-primary.btn_submit_answer(href="javascript:void(0);") Submit
        a.btn.btn-primary.btn_retry_question.hidden(href="") Retry

append scripts
  script(src=('/assets/vendor/form-serializer/dist/jquery.serialize-object.min.js'))
  script(src=('/assets/js/exercise-app-bundle.js'))