extends layout/index.pug

block contents
  div.container
    if user
      p= 'Welcome Back, ' + user.username

    h1 Subtopic :
    each val, index in data
      span= (index + 1) + '. '
      a(href=`/topic/${getSlug(val.subtopic)}-${val.id}` class="btn btn-primary" target="_blank") #{val.subtopic}

