extends layout/index.pug
append head
  link(href='/assets/vendor/video.js/dist/video-js.min.css' rel="stylesheet")
  link(href='/assets/css/videojs.endcapCTA.css' rel="stylesheet")

include includes/utils.pug

block contents
  div.container
    h1.text-center #{topic.topic} - #{subtopic.subtopic}
    h4.text-center #{subtopic.description}
    h4.text-center
      a(href='/') Back to Modules
    hr
    p !{subtopicData.detail}
    //- #ytPlayerContainer
    //- video.video-js.vjs-fluid#video-player(controls)
      //- source(src=videoSource)
    | !{videoSource}
    div.text-center(style="margin-top:50px;margin-bottom:50px;")
      each exercise, index in exercises
        - var exerciseUrl = `/${topic.id}/${getSlug(topic.topic)}/${subtopic.id}/${getSlug(subtopic.subtopic)}/${exercise.id}/latihan-${index+1}`
        // There's no elegant way of having a button with href. If we use a however, it can't be disabled easily
        // TODO: Use 'a' with css to disable
        if (!isAuthenticated)
          input.btn.btn-primary(type="button" value=`Latihan ${index+1}` href=exerciseUrl style="margin-top:10px;" disabled="disabled")
        else
          a.btn.btn-primary(type="button" href=exerciseUrl style="margin-top:10px;")= `Latihan ${index+1}`
          + renderExerciseStars(exercise.stars)
        br
      if !isAuthenticated
        br
        | Please #[a(href='/login') login] or #[a(href='/register') register] to access exercises.

block footer
  script(src="/assets/vendor/video.js/dist/video.min.js")
  script(src="/assets/vendor/videojs-youtube/dist/Youtube.min.js")
  script(src="/assets/js/videojs.endcapCTA.js")
  script.
    $(document).ready(function() {

      var video = videojs('#video-player')
      video.on('pause', function() {
      })

      //- // Add a the endcap content
      video.endcapCTA({
        html: '<section class="endcapCallToActionContent" style="top:33%; left:35%; position: absolute;"><button id="cta_good"><img src="https://s.kaskus.id/images/2016/12/09/5312572_20161209103634.jpg" width="100px;" height="100px"/></button><button id="cta_bad"><img src="https://catatanharianherik.files.wordpress.com/2014/11/sad-emoticon-300x250.jpg" width="100px;" height="100px"/></button></section>',
        run: function() {
          // This runs upon creation of endcapCTA, just after video starts playing

          // Remember to remove attachment of hook property before apply this new,
          // else it will clone many hook
          $('#cta_good').off('click')
          $('#cta_bad').off('click')

          var videoId = $('#video-player').data('id')
          $('#cta_good').on('click', function(e) {
            var self = this
            $.ajax({
              method: 'POST',
              url: '/video/feedback',
              data: {
                videoId,
                value: 1
              }
             }).done(function(e) {
              $(self).parent().parent().removeClass('is-active')
            })
          })
          $('#cta_bad').on('click', function(e) {
            var self = this
            $.ajax({
              method: 'POST',
              url: '/video/feedback',
              data: {
                videoId,
                value: 0
              }
            }).done(function(e) {
              $(self).parent().parent().removeClass('is-active')
            })
          })
        }
      })
    })
