extends layout/index.pug

block contents
    div.container
      - var subtopic = null
      - var subtopicId = null
      each val, index in data
        h1.text-center #{val.subtopic}
        h4.text-center #{val.description}
        hr
        - subtopic = val.subtopic
        - subtopicId = val.id
        - var content = JSON.parse(val.data)
          | !{content.detail}
          
          iframe(width="100%", height="100%", src=`//youtube.com/embed/${embedYoutube(content.youtube_url)}`, frameborder="0", allowfullscreen="")

      div.text-center(style="margin-top:50px;margin-bottom:50px;")
        each val, index in exercise
          a.btn.btn-primary(href=`/topic/${getSlug(subtopic)}-${subtopicId}/latihan-${val.id}` style="margin-top:10px;" target="_blank")= 'Latihan ' + val.id
          br