extends layout/index.pug
append head
  link(href='/assets/vendor/videojs/video-js.min.css' rel="stylesheet")
  link(href='/assets/vendor/videojs/videojs.endcapCTA.css' rel="stylesheet")
  link(href='/assets/vendor/videojs/videojs-resolution-switcher.css' rel="stylesheet")

include includes/utils.pug

block contents
  div.container
    h1.text-center #{topic.topic} - #{subtopic.subtopic}
    h4.text-center #{subtopic.description}
    h4.text-center
      a(href='/') Back to Modules
    hr
    p !{subtopicData.detail}
    //- #ytPlayerContainer
    //- video.video-js.vjs-fluid#video-player(controls)
      //- source(src=videoSource)
    | !{videoSource}
    div.text-center(style="margin-top:50px;margin-bottom:50px;")
      each exercise, index in exercises
        - var exerciseUrl = `/${topic.id}/${getSlug(topic.topic)}/${subtopic.id}/${getSlug(subtopic.subtopic)}/${exercise.id}/latihan-${index+1}`
        // There's no elegant way of having a button with href. If we use a however, it can't be disabled easily
        // TODO: Use 'a' with css to disable
        if (!isAuthenticated)
          input.btn.btn-primary(type="button" value=`Latihan ${index+1}` href=exerciseUrl style="margin-top:10px;" disabled="disabled")
        else
          a.btn.btn-primary(type="button" href=exerciseUrl style="margin-top:10px;")= `Latihan ${index+1}`
          + renderExerciseStars(exercise.stars)
        br
      if !isAuthenticated
        br
        | Please #[a(href='/login') login] or #[a(href='/register') register] to access exercises.

block footer
  script(src="/assets/vendor/videojs/video.js")
  script(src="/assets/vendor/videojs/videojs-resolution-switcher.js")
  script(src="/assets/vendor/videojs/videojs.endcapCTA.js")
  script(src="/assets/js/subtopic-app-bundle.js")
    