include header.pug

block initialization

append head
  title Filosedu - Belajar Lebih Menyenangkan
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet" href="/assets/vendor/fontawesome-5.0.8/css/fa-svg-with-js.css")
  if cloudServer
    script.
      // Full Story Analytics
      window['_fs_debug'] = false;
      window['_fs_host'] = 'fullstory.com';
      window['_fs_org'] = 'CEWAW';
      window['_fs_namespace'] = 'FS';
      (function(m,n,e,t,l,o,g,y){
          if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
          g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
          o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
          y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
          g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
          g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
          g.consent=function(a){g("consent",!arguments.length||a)};
          g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
          g.clearUserCookie=function(){};
      })(window,document,window['_fs_namespace'],'script','user');
    if (loggedIn)
      script.
        FS.identify('#{user.id}', {
          displayName: '#{user.username}',
          email: '#{user.email}'
        });
    // Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-121849277-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-121849277-1');

body
  #wrapper
    // Required by sidebar
    .overlay
    nav.navbar.navbar-default
      .container-fluid
        nav#sidebar-wrapper.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
          ul.nav.sidebar-nav
            li.sidebar-brand
              a(href='https://www.filosedu.com') Filosedu
            if user
              li
                a(href='#')
                  | Hello, #[strong #{user.fullName}]
            else
              li
                a(href='/login') Login
            li
              a(href='/') Area Belajar
            if !cloudServer
              li
                a(href='/competency-exercise') Uji Kompetensi
            if user
              li
                a(href='/logout') Logout
    #page-content-wrapper
      button.hamburger.is-closed(type='button', data-toggle='offcanvas')
        span.hamb-top
        span.hamb-middle
        span.hamb-bottom
      block contents

block scripts
  script(src="/assets/vendor/jquery3.3.1/jquery-3.3.1.min.js")
  script(src="/assets/vendor/fontawesome-5.0.8/js/fontawesome-all.min.js")

  // Sidebar open/close
  script.
    $(document).ready(function () {
      var trigger = $('.hamburger'),
          overlay = $('.overlay'),
        isClosed = false;

        trigger.click(function () {
          hamburger_cross();
        });

        function hamburger_cross() {
          if (isClosed == true) {
            overlay.hide();
            trigger.removeClass('is-open');
            trigger.addClass('is-closed');
            isClosed = false;
          } else {
            overlay.show();
            trigger.removeClass('is-closed');
            trigger.addClass('is-open');
            isClosed = true;
          }
      }

      $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
      });
    });

block footer